<app-users-header (userAddes)="userAdded($event)"></app-users-header>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Address</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"  [routerLink]="['/user',user.id]">  
         
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.address.street +" "+ user.address.suite +" "+user.address.city}}</td>
              <td><button class="btn btn-outline-primary" (click)="deleteHandler(user.id)">Delete</button></td>
              <td><button class="btn btn-outline-primary" (click)="updateHandler()">Update</button></td>
          </tr>
    
    </tbody>
  </table>
  <!-- for testing
  <div *ngFor="let user of users">
      <div *ngFor="let key of keys">
        {{user[key]}}
      </div>
  </div> -->